&spi0 {
    status = "okay"; /* Only needed if you want to enable it, and it's not enabled elsewhere */
	cs-gpios = < &gpio0 2 GPIO_ACTIVE_LOW >;
    max31856: max31856@0 {
        compatible = "custom,max31856";
        reg = <0>;
        spi-max-frequency = <1000000>;
        thermocouple-type = <3>; /* Type K */
        averaging = <3>; /* 8 samples */
        filter-50hz;
        operating-mode = <0>; /* Auto mode */
        fault-mask; /* Enable FAULT pin assertion */
    };
};
