
/ {
        aliases {
                die-temp0 = &temp;
        };
};

&spi0 {
    status = "okay"; /* Only needed if you want to enable it, and it's not enabled elsewhere */
	cs-gpios = < &gpio0 2 GPIO_ACTIVE_LOW >;
    max31856: max31856@0 {
        compatible = "custom,max31856";
        reg = <0>;
        spi-max-frequency = <1000000>;
        thermocouple-type = <3>; /* Type K */
        averaging = <3>; /* 8 samples */
        fault-gpios = < &gpio1 1 GPIO_ACTIVE_LOW >;  /* Fault GPIO */
        drdy-gpios = < &gpio1 2 GPIO_ACTIVE_LOW >;   /* Data Ready GPIO */
        filter-50hz;
        operating-mode = <1>; /* 0 = Auto mode, 1 = 1 shot mode */
        fault-mask; /* Enable FAULT pin assertion */        
    };
};
